@charset "ISO-8859-1";

.container {
	margin-top: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.container-2 {
	margin-top: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px
}

.date {
	text-transform: capitalize;
	color: blue;

}

.time {
	color: green;
	text-transform: capitalize;

}